Repository KyleKing/dash_charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - push
  pass_filenames: false

doit:
  name: doit
  entry: poetry run doit run test
  language: system
  stages:
  - push
  pass_filenames: false

docs: move README to docs/
  docs/README.md
Due: none

docs: merge rest of calcipy_template
  README.md
  tests/configuration.py
Due: doit

refactor: batch add some type annotations
  dash_charts/app_px.py
  dash_charts/utils_app_with_navigation.py
  scripts/jsonl_viewer.py
  tests/examples/ex_coordinate_chart.py
  tests/examples/ex_datatable.py
  tests/examples/ex_fitted_chart.py
  tests/examples/ex_gantt_chart.py
  tests/examples/ex_marginal_chart.py
  tests/examples/ex_modules_upload.py
  tests/examples/ex_multi_page.py
  tests/examples/ex_pareto_chart.py
  tests/examples/ex_rolling_chart.py
  tests/examples/ex_sqlite_realtime.py
  tests/examples/ex_style_bootstrap.py
  tests/examples/ex_style_bulma.py
  tests/examples/ex_tabs.py
  tests/examples/ex_time_vis_chart.py
  tests/test_example_snippets.py
Due: doit

refactor: apply sourcery refactoring
  scripts/jsonl_viewer.py
  tests/examples/ex_app_px.py
  tests/examples/ex_coordinate_chart.py
  tests/examples/ex_datatable.py
  tests/examples/ex_fitted_chart.py
  tests/examples/ex_gantt_chart.py
  tests/examples/ex_marginal_chart.py
  tests/examples/ex_modules_upload.py
  tests/examples/ex_multi_page.py
  tests/examples/ex_pareto_chart.py
  tests/examples/ex_rolling_chart.py
  tests/examples/ex_sqlite_realtime.py
  tests/examples/ex_style_bootstrap.py
  tests/examples/ex_style_bulma.py
  tests/examples/ex_tabs.py
  tests/examples/ex_time_vis_chart.py
Due: doit

docs: add code tag summary
  docs/CODE_TAG_SUMMARY.md
Due: none

docs: update readme from template
  docs/README.md
Due: none

refactor: add return type for generate_data
  tests/examples/ex_fitted_chart.py
  tests/examples/ex_gantt_chart.py
  tests/examples/ex_marginal_chart.py
  tests/examples/ex_rolling_chart.py
  tests/examples/ex_sqlite_realtime.py
  tests/examples/ex_time_vis_chart.py
Due: doit

docs: comment on change that needs to be resolved
  docs/README.md
Due: none

fix: temporarily patch the “_id” attr
  dash_charts/utils_app.py
  tests/examples/ex_datatable.py
Due: doit

build: increment dependencies
  poetry.lock
Due: none

build: run issue labeler
  .github/workflows/labels.yml
Due: none

docs: update docs with doit
  .github/workflows/labels.yml
  .gitignore
  docs/CODE_TAG_SUMMARY.md
  tests/test_examples_ex_datatable.py
Due: doit

refactor: use 'or' in place of some if/else
  dash_charts/coordinate_chart.py
  dash_charts/modules_upload.py
  dash_charts/utils_app.py
  dash_charts/utils_fig.py
  dash_charts/utils_static.py
Due: doit

build: update for calcipy use
  docs/README.md
  poetry.lock
  pyproject.toml
  tests/configuration.py
Due: lock_deps, doit

fix!: drop unused matplotlib functionality
  dash_charts/utils_fig.py
  docs/README.md
  pyproject.toml
  tests/test_utils_fig.py
Due: lock_deps, doit

build: update calcipy
  docs/README.md
  poetry.lock
  pyproject.toml
Due: lock_deps

feat: experiment with plotting data from calcipy release date cache
  scripts/plot_stale_dependencies.py
Due: doit

feat: WIP experimentation with tabulator
  _try_tabulator.py
  pyproject.toml
Due: lock_deps, doit

'Refactored by Sourcery'
  dash_charts/utils_callbacks.py
  wip/basketball.py
Due: doit

build: add isort file expected by copier
  isort.cfg
Due: none

build: copier update
  .copier-answers.yml
  .deepsource.toml
  .flake8
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  .github/workflows/labels.yml
  .gitignore
  .isort.cfg
  .pre-commit-config.yaml
  .pyup.yml
  README.md
  appveyor.yml
  dash_charts/__init__.py
  docs/CNAME
  docs/README.md
  docs/docs/CODE_OF_CONDUCT.md
  docs/docs/CONTRIBUTING.md
  docs/docs/DEVELOPER_GUIDE.md
  docs/docs/SECURITY.md
  docs/docs/STYLE_GUIDE.md
  dodo.py
  isort.cfg
  mkdocs.yml
  mypy.ini
  noxfile.py
  pyproject.toml
  scripts/check_imports.py
  tests/configuration.py
  tests/conftest.py
Due: lock_deps, doit

build: fix ignore rules for doc output
  .gitignore
  .pre-commit-config.yaml
  docs/docs/CODE_TAG_SUMMARY.md
Due: none

build: roll back to latest published calcipy
  .calcipy_packaging.lock
  .dash_tutorials/02-dash-core-components.py
  .dash_tutorials/07_daq-dark-theme.py
  dash_charts/app_px.py
  dash_charts/utils_app.py
  dash_charts/utils_app_modules.py
  dash_charts/utils_app_with_navigation.py
  dash_charts/utils_fig.py
  dash_charts/utils_helpers.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/check_imports.py
  scripts/jsonl_viewer.py
  scripts/plot_stale_dependencies.py
  tests/examples/ex_coordinate_chart.py
  tests/examples/ex_datatable.py
  tests/examples/ex_fitted_chart.py
  tests/examples/ex_gantt_chart.py
  tests/examples/ex_marginal_chart.py
  tests/examples/ex_modules_upload.py
  tests/examples/ex_multi_page.py
  tests/examples/ex_pareto_chart.py
  tests/examples/ex_style_bootstrap.py
  tests/examples/ex_style_bulma.py
  tests/examples/ex_time_vis_chart.py
  tests/examples/readme.py
  tests/test_example_snippets.py
  tests/test_utils_json_cache.py
  wip/basketball.py
Due: lock_deps, doit

Update lxml from 4.6.4 to 4.7.1
  requirements.txt
Due: none

build: update to calcipy=0.9.1
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  dash_charts/utils_app.py
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps, doit

fix: migrate to dash-bootstrap-components >=1
  .calcipy_packaging.lock
  dash_charts/__init__.py
  dash_charts/components.py
  dash_charts/utils_app_with_navigation.py
  dash_charts/utils_dataset.py
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_examples_ex_utils_static.py
Due: lock_deps, doit

build: add minimum Python version for Sourcery
  .sourcery.yaml
Due: none

'Refactored by Sourcery'
  dash_charts/datatable.py
  dash_charts/utils_dataset.py
  tests/examples/ex_marginal_chart.py
  tests/examples/ex_rolling_chart.py
Due: doit

refactor: subset of Sourcery Refactoring
  dash_charts/datatable.py
  dash_charts/utils_dataset.py
  tests/examples/ex_marginal_chart.py
  tests/examples/ex_rolling_chart.py
Due: doit

fix: properly use pd.concat
  .pre-commit-config.yaml
  dash_charts/utils_data.py
Due: doit

refactor: fix linting issues
  .archan.yaml
  .sourcery.yaml
  appveyor.yml
  dash_charts/components.py
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  tests/test_example_snippets.py
  tests/test_examples_ex_coordinate_chart.py
  tests/test_examples_ex_datatable.py
  tests/test_examples_ex_fitted_chart.py
  tests/test_examples_ex_gantt_chart.py
  tests/test_examples_ex_marginal_chart.py
  tests/test_examples_ex_modules_upload.py
  tests/test_examples_ex_multi_page.py
  tests/test_examples_ex_pareto_chart.py
  tests/test_examples_ex_px.py
  tests/test_examples_ex_rolling_chart.py
  tests/test_examples_ex_sqlite_realtime.py
  tests/test_examples_ex_style_bootstrap.py
  tests/test_examples_ex_style_bulma.py
  tests/test_examples_ex_tabs.py
  tests/test_examples_ex_time_vis_chart.py
  tests/test_examples_ex_utils_static.py
Due: doit

build: increment dependencies for security minimums
  .calcipy_packaging.lock
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

build: drop CalVer
  appveyor.yml
  dash_charts/__init__.py
  pyproject.toml
Due: lock_deps, doit

fix: more fixes for nox_coverage
  docs/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/examples/readme.py
Due: lock_deps, doit

bump: version 0.1.0a0 → 0.1.0a1
  appveyor.yml
  dash_charts/__init__.py
  docs/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps, doit

build: run doit
  docs/docs/CHANGELOG.md
  docs/docs/CODE_TAG_SUMMARY.md
  requirements.txt
Due: none

build: minor fixes for docs
  docs/DESIGN.md
  mkdocs.yml
  wip/basketball.py
Due: doit

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: pyproject.toml
  doit: any of: \.py
